{% extends 'base1.html.twig' %}

{% block title %}modifier Testtechnique{% endblock %}
{% block css %}
  {{ parent() }}
 
  
{% endblock %}

{% block sideBar %}
  {{ parent() }}
{% endblock %}

{% block headside %}
  {{ parent() }}
{% endblock %}
{% block breadcrumb %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <h1>modifier Testtechnique</h1>

    {{ include('testtechnique/_form.html.twig', {'button_label': 'Update'}) }}


{% endblock %}

{% block javascript %}
  {{ parent() }}

{% endblock %}