{% extends 'base1.html.twig' %}

{% block title %}Testtechnique index{% endblock %}

{% block css %}
  {{ parent() }}

{% endblock %}

{% block sideBar %}
  {{ parent() }}
{% endblock %}

{% block headside %}
  {{ parent() }}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="../dashboard/index.html">Interviews</a></li>
    <li class="breadcrumb-item active">New</li>
{% endblock %}

{% block body %}
    <h1>Tests Techniques</h1>

    {% if interview is defined %}
        <h2>Tests liés à l'Interview : {{ interview.titreoffre }}</h2>
        <a href="{{ path('app_interview_index') }}" class="btn btn-secondary">Retour aux Interviews</a>
       {% if interview is defined and interview is not null %}
    <a href="{{ path('app_testtechnique_new_for_interview', {'idinterview': interview.idinterview}) }}" class="btn btn-primary">
        <i class="ti ti-plus"></i> Ajouter un test pour cet interview
    </a>
{% else %}
    <p>Aucune interview sélectionnée.</p>
{% endif %}
    {% else %}
        <h2>Liste complète des Tests Techniques</h2>
        
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Durée</th>
                <th>Statut</th>
                <th>Date de Création</th>
                <th>Questions</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for testtechnique in testtechniques %}
            <tr>
                <td>{{ testtechnique.idtesttechnique }}</td>
                <td>{{ testtechnique.titretesttechnique }}</td>
                <td>{{ testtechnique.descriptiontesttechnique }}</td>
                <td>{{ testtechnique.dureetesttechnique }}</td>
                <td>{{ testtechnique.statuttesttechnique.value }}</td>
                <td>{{ testtechnique.datecreationtesttechnique ? testtechnique.datecreationtesttechnique|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ testtechnique.questions }}</td>
                <td>
                    <a href="{{ path('app_testtechnique_show', {'idtesttechnique': testtechnique.idtesttechnique}) }}">Voir</a>
                    <a href="{{ path('app_testtechnique_edit', {'idtesttechnique': testtechnique.idtesttechnique}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun test technique trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}

{% block javascript %}
  {{ parent() }}

{% endblock %}