{% extends 'base1.html.twig' %}

{% block title %}Affectationinterview{% endblock %}
{% block css %}
  {{ parent() }}
 
  
{% endblock %}

{% block sideBar %}
  {{ parent() }}
{% endblock %}

{% block headside %}
  {{ parent() }}
{% endblock %}
{% block breadcrumb %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <h1>Affectation interview</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Dateaffectationinterview</th>
                <td>{{ affectationinterview.dateaffectationinterview ? affectationinterview.dateaffectationinterview|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_affectationinterview_index') }}">retourner a la liste</a>

    <a href="{{ path('app_affectationinterview_edit', {'idinterview': affectationinterview.idinterview}) }}">Modifier</a>

    {{ include('affectationinterview/_delete_form.html.twig') }}
{% endblock %}
{% block javascript %}
  {{ parent() }}

{% endblock %}
