<form 
    id="form-{{ entreprise.identreprise }}" 
    method="post" 
    action="{{ path('app_entreprise_delete', {'identreprise': entreprise.identreprise}) }}" 
    class="d-inline"

    <input 
        type="hidden" 
        name="_token" 
        value="{{ csrf_token('delete' ~ entreprise.identreprise) }}"
    >
    <button 
        type="button" 
        class="btn btn-danger btn-sm d-block mx-auto text-center" 
        data-bs-toggle="modal" 
        data-bs-target="#confirmDeleteModal-{{ entreprise.identreprise }}"
        style="width: 100px;"
    >
        <i class="fas fa-trash-alt"></i> Supprimer
    </button>
</form>

<div class="modal fade" id="confirmDeleteModal-{{ entreprise.identreprise }}" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Êtes-vous sûr de vouloir supprimer l'entreprise <strong>{{ entreprise.nomentreprise }}</strong> ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <button type="submit" class="btn btn-danger" onclick="document.querySelector('#form-{{ entreprise.identreprise }}').submit();">Supprimer</button>
      </div>
    </div>
  </div>
</div> 