{% form_theme form 'bootstrap_5_layout.html.twig' %}

{{ form_start(form) }}
    {{ form_row(form.nomentreprise) }}
    {{ form_row(form.descriptionentreprise) }}
    {{ form_row(form.logoentreprise) }}
    {{ form_row(form.urlentreprise) }}
    {{ form_row(form.secteurentreprise) }}

    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }} 