{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'needs-validation'}}) }}

<div class="mb-3">
    {{ form_label(form.titreprojet) }}
    {{ form_widget(form.titreprojet, {'attr': {'class': 'form-control'}}) }}
    <div class="text-danger">{{ form_errors(form.titreprojet) }}</div>
</div>

<div class="mb-3">
    {{ form_label(form.descriptionprojet) }}
    {{ form_widget(form.descriptionprojet, {'attr': {'class': 'form-control'}}) }}
    <div class="text-danger">{{ form_errors(form.descriptionprojet) }}</div>
</div>

<div class="mb-3">
    {{ form_label(form.datedebut) }}
    {{ form_widget(form.datedebut, {'attr': {'class': 'form-control'}}) }}
    <div class="text-danger">{{ form_errors(form.datedebut) }}</div>
</div>

<div class="mb-3">
    {{ form_label(form.datefin) }}
    {{ form_widget(form.datefin, {'attr': {'class': 'form-control'}}) }}
    <div class="text-danger">{{ form_errors(form.datefin) }}</div>
</div>

<button class="btn btn-primary"><i class="fas fa-check"></i> {{ button_label|default('Valider') }}</button>

{{ form_end(form) }}