{% extends 'base.html.twig' %}

{% block title %}Partenariat{% endblock %}

{% block body %}
    <h1>Partenariat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idpartenariat</th>
                <td>{{ partenariat.idpartenariat }}</td>
            </tr>
            <tr>
                <th>Nompartenariat</th>
                <td>{{ partenariat.nompartenariat }}</td>
            </tr>
            <tr>
                <th>Adressepartenariat</th>
                <td>{{ partenariat.adressepartenariat }}</td>
            </tr>
            <tr>
                <th>Numtelpartenariat</th>
                <td>{{ partenariat.numtelpartenariat }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_partenariat_index') }}">back to list</a>

    <a href="{{ path('app_partenariat_edit', {'idpartenariat': partenariat.idpartenariat}) }}">edit</a>

    {{ include('partenariat/_delete_form.html.twig') }}
{% endblock %}
