{% extends 'base1.html.twig' %}

{% block title %}Utilisateur index{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb4">fuck il group</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th style="color: #007bff;">Nom d'utilisateur</th>
                <th style="color: #007bff;">Prenom d'utilisateur</th>
                <th style="color: #007bff;">Age d'utilisateur</th>
                <th style="color: #007bff;">Email d'utilisateur</th>
                <th style="color: #007bff;">Role</th>
                <th style="color: #007bff;">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.nomutilisateur }}</td>
                <td>{{ utilisateur.prenomutilisateur }}</td>
                <td>{{ utilisateur.ageutilisateur }}</td>
                <td>{{ utilisateur.emailutilisateur }}</td>
                <td>{{ utilisateur.role.getlabel() }}</td>
                <td class="text-center">
                    <a 
                        href="{{ path('app_utilisateur_edit', {'idutilisateur': utilisateur.idutilisateur}) }}" 
                        class="btn btn-primary btn-sm d-block mx-auto text-center" 
                        style="width: 100px;"
                    >Modifier</a>

                    <div class="mt-2">
                        {{ include('utilisateur/_delete_form.html.twig', { utilisateur: utilisateur }) }}
                    </div>
                </td>

            </tr>
        {% else %}  
            <tr>
                <td colspan="6" class="text-center">Aucun utilisateur trouvé.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_utilisateur_new') }}">Create new</a>
</div>
{% endblock %}
