<!DOCTYPE html>
<html lang="fr">
<!-- [Head] start -->

<head>
  <title>Connexion | Mantis Bootstrap 5 Admin Template</title>
  <!-- [Meta] -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Mantis est conçu avec le framework Bootstrap 5. Téléchargez le modèle d'administration gratuit et utilisez-le pour votre projet.">
  <meta name="keywords" content="Mantis, Tableau de bord, Bootstrap 5, Modèle d'administration, CRM, CMS, Modèle Bootstrap">
  <meta name="author" content="CodedThemes">

  <!-- [Favicon] icon -->
  <link rel="icon" href="images/favicon.svg" type="image/x-icon">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap" id="main-font-link">
  <link rel="stylesheet" href="fonts/tabler-icons.min.css">
  <link rel="stylesheet" href="fonts/feather.css">
  <link rel="stylesheet" href="fonts/fontawesome.css">
  <link rel="stylesheet" href="fonts/material.css">
  <link rel="stylesheet" href="css/style.css" id="main-style-link">
  <link rel="stylesheet" href="css/style-preset.css">
</head>
<!-- [Head] end -->
<!-- [Body] Start -->

<body>
  <div class="auth-main">
    <div class="auth-wrapper v3">
      <div class="auth-form">
        <div class="auth-header">
          <a href="#"><img src="images/logo-dark.svg" alt="img"></a>
        </div>
        <div class="card my-5">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-end mb-4">
              <h3 class="mb-0"><b>Connexion</b></h3>
              <p class="mb-0">Vous n'avez pas de compte ? <a href="{{ path('app_base4') }}" class="text-primary">Inscrivez-vous</a></p>
            </div>
            {% if error %}
                <div class="alert alert-danger d-flex align-items-center" role="alert">
                    <i class="fas fa-exclamation-circle me-2"></i>
                    <div>
                        {% if error.messageKey == 'Your account has been banned. Please contact an administrator.' %}
                            Votre compte a été banni. Veuillez contacter un administrateur.
                        {% else %}
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            <form action="{{ path('app_login') }}" method="post" novalidate>
              <div class="form-group mb-3">
                <label for="email" class="form-label">Adresse e-mail</label>
                <input type="text" id="email" name="_email" class="form-control" placeholder="Adresse e-mail" value="{{ last_username|default('') }}" required>
              </div>
              <div class="form-group mb-3">
                <label for="password" class="form-label">Mot de passe</label>
                <input type="password" id="password" name="_password" class="form-control" placeholder="Mot de passe" required>
              </div>
              <div class="d-flex mt-1 justify-content-between">
                <div class="form-check">
                  <input class="form-check-input input-primary" type="checkbox" id="remember_me" name="_remember_me" checked>
                  <label class="form-check-label text-muted" for="remember_me">Rester connecté</label>
                </div>
                <a href="#" class="text-secondary f-w-400">Mot de passe oublié ?</a>
              </div>
              <div class="d-grid mt-4">
                <button type="submit" class="btn btn-primary">Connexion</button>
              </div>
              <div class="saprator mt-3">
                  <span>OU</span>
              </div>
              <div class="d-grid mt-3">
                  <a href="{{ path('app_face_login') }}" class="btn btn-outline-primary">
                      <i class="fas fa-camera"></i> Connexion par reconnaissance faciale
                  </a>
              </div>
            </form>

            <div class="saprator mt-3">
              <span>Se connecter avec</span>
            </div>
            <div class="row">
              <div class="col-4">
                <div class="d-grid">
                  <button type="button" class="btn mt-2 btn-light-primary bg-light text-muted">
                    <img src="images/authentication/google.svg" alt="img"> <span class="d-none d-sm-inline-block"> Google</span>
                  </button>
                </div>
              </div>
              <div class="col-4">
                <div class="d-grid">
                  <button type="button" class="btn mt-2 btn-light-primary bg-light text-muted">
                    <img src="images/authentication/twitter.svg" alt="img"> <span class="d-none d-sm-inline-block"> Twitter</span>
                  </button>
                </div>
              </div>
              <div class="col-4">
                <div class="d-grid">
                  <button type="button" class="btn mt-2 btn-light-primary bg-light text-muted">
                    <img src="images/authentication/facebook.svg" alt="img"> <span class="d-none d-sm-inline-block"> Facebook</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="auth-footer row">
          <div class="col my-1">
            <p class="m-0">Copyright © <a href="#">Codedthemes</a></p>
          </div>
          <div class="col-auto my-1">
            <ul class="list-inline footer-link mb-0">
              <li class="list-inline-item"><a href="#">Accueil</a></li>
              <li class="list-inline-item"><a href="#">Politique de confidentialité</a></li>
              <li class="list-inline-item"><a href="#">Contactez-nous</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="js/plugins/popper.min.js"></script>
  <script src="js/plugins/simplebar.min.js"></script>
  <script src="js/plugins/bootstrap.min.js"></script>
  <script src="js/fonts/custom-font.js"></script>
  <script src="js/pcoded.js"></script>
  <script src="js/plugins/feather.min.js"></script>
  <script>layout_change('light');</script>
  <script>change_box_container('false');</script>
  <script>layout_rtl_change('false');</script>
  <script>preset_change("preset-1");</script>
  <script>font_change("Public-Sans");</script>
</body>
<!-- [Body] end -->

</html>