<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <!-- Meta Tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Site keywords here">
		<meta name="description" content="">
		<meta name='copyright' content=''>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Title -->
        <title>Mediplus - Free Medical and Doctor Directory HTML Template.</title>
		
		<!-- Favicon -->
        <link rel="icon" href="img/favicon.png">
		
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
        {% block css %}
	<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
<!-- Nice Select CSS -->
<link rel="stylesheet" href="{{ asset('css/nice-select.css') }}">
<!-- Font Awesome CSS -->
<link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
<!-- icofont CSS -->
<link rel="stylesheet" href="{{ asset('css/icofont.css') }}">
<!-- Slicknav -->
<link rel="stylesheet" href="{{ asset('css/slicknav.min.css') }}">
<!-- Owl Carousel CSS -->
<link rel="stylesheet" href="{{ asset('css/owl-carousel.css') }}">
<!-- Datepicker CSS -->
<link rel="stylesheet" href="{{ asset('css/datepicker.css') }}">
<!-- Animate CSS -->
<link rel="stylesheet" href="{{ asset('css/animate.min.css') }}">
<!-- Magnific Popup CSS -->
<link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">
<!-- Medipro CSS -->
<link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
<link rel="stylesheet" href="{{ asset('style.css') }}">
<link rel="stylesheet" href="{{ asset('css/responsive.css') }}">

		{% endblock %}
    </head>
    <body>
	
		<!-- Preloader -->
        <div class="preloader">
            <div class="loader">
                <div class="loader-outter"></div>
                <div class="loader-inner"></div>

                <div class="indicator"> 
                    <svg width="16px" height="12px">
                        <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                        <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                    </svg>
                </div>
            </div>
        </div>
        <!-- End Preloader -->
	
		<!-- Header Area -->
		<header class="header" >
			<!-- Topbar -->
            {% block appBar %}
			<div class="topbar">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-5 col-12">
							<!-- Contact -->
							<ul class="top-link">
								<li><a href="#">About</a></li>
								<li><a href="#">Doctors</a></li>
								<li><a href="#">Contact</a></li>
								<li><a href="#">FAQ</a></li>
							</ul>
							<!-- End Contact -->
						</div>
						<div class="col-lg-6 col-md-7 col-12">
							<!-- Top Contact -->
							<ul class="top-contact">
								<li><i class="fa fa-phone"></i>+880 1234 56789</li>
								<li><i class="fa fa-envelope"></i><a href="mailto:support@yourmail.com">support@yourmail.com</a></li>
							</ul>
								{%if app.user %}
								<ul class="top-contact">
									<li><i class="fa fa-user"></i>{{ app.user.username }}</li>
									<li><a href="{{ path('app_base3') }}">Logout</a></li>
									<li><a href="{{ path('app_base4') }}">Profile</a></li> 
								</ul>
								{% else %}
								<ul class="top-contact">
									<li><i class="fa fa-user"></i><a href="{{ path('app_login') }}">Login</a></li>
								</ul>
								{% endif %}
							
							<!-- End Top Contact -->
						</div>
					</div>
				</div>
			</div>
            {% endblock %}
			<!-- End Topbar -->
			<!-- Header Inner -->
            {% block navBar %}
			<div class="header-inner">
				<div class="container">
					<div class="inner">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-12">
								<!-- Start Logo -->
								<div class="logo">
									<a href="index.html"><img src="img/logoIn.png" alt="#"></a>
								</div>
								<!-- End Logo -->
								<!-- Mobile Nav -->
								<div class="mobile-nav"></div>
								<!-- End Mobile Nav -->
							</div>
							<div class="col-lg-7 col-md-9 col-12">
								<!-- Main Menu -->
								<div class="main-menu">
									<nav class="navigation">
										<ul class="nav menu">
											<li class="active"><a href="#">Home</a>
											
											<li><a href="#">Interview </a></li>
											<li><a href="#">Partenariat </a></li>
											<li><a href="#">Publication</a>
												
													<li><a href="#">Entreprise</a></li>
							                        <li><a href="#">Partenariat</a></li>
							
											<li><a href="contact.html">Contact Us</a></li>
										</ul>
									</nav>
								</div>
								<!--/ End Main Menu -->
							</div>
							
						</div>
					</div>
				</div>
			</div>
            {% endblock %}
			<!--/ End Header Inner -->
		</header>
		<!-- End Header Area -->
		{% block body %}
		
		
		
		{% endblock %}
		
		
		<!-- Start Newsletter Area -->
		{% block subscribe %}
		<section class="newsletter section">
			<div class="container">
				<div class="row ">
					<div class="col-lg-6  col-12">
						<!-- Start Newsletter Form -->
						<div class="subscribe-text ">
							<h6>Abonnez-vous à notre newsletter</h6>
							<p class=""> pour recevoir toutes nos actualités directement dans votre boîte mail.</p>
						</div>
						<!-- End Newsletter Form -->
					</div>
					<div class="col-lg-6  col-12">
						<!-- Start Newsletter Form -->
						<div class="subscribe-form ">
							<form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
								<input name="EMAIL" placeholder="Your email address" class="common-input" onfocus="this.placeholder = ''"
									onblur="this.placeholder = 'Your email address'" required="" type="email">
								<button class="btn">Subscribe</button>
							</form>
						</div>
						<!-- End Newsletter Form -->
					</div>
				</div>
			</div>
		</section>
		{% endblock %}
		<!-- /End Newsletter Area -->
		
		<!-- Footer Area -->
        {% block footer %}
		<footer id="footer" class="footer ">
			<!-- Footer Top -->
			<div class="footer-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-6 col-12">
							<div class="single-footer">
								<h2>À Propos de Nous</h2>
								<p>Notre site web facilite la recherche de stages pour les candidats et leur permet de trouver un hébergement adapté à leurs besoins.</p>
								<!-- Social -->
								<ul class="social">
									<li><a href="#"><i class="icofont-facebook"></i></a></li>
									<li><a href="#"><i class="icofont-google-plus"></i></a></li>
									<li><a href="#"><i class="icofont-twitter"></i></a></li>
									<li><a href="#"><i class="icofont-vimeo"></i></a></li>
									<li><a href="#"><i class="icofont-pinterest"></i></a></li>
								</ul>
								<!-- End Social -->
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-12">
							<div class="single-footer f-link">
								<h2>Liens Rapides</h2>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-12">
										<ul>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Accueil</a></li>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Entretien</a></li>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Reclamation</a></li>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>À Propos</a></li>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Autres liens</a></li>
										</ul>
									</div>
									<div class="col-lg-6 col-md-6 col-12">
										<ul>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Projet</a></li>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Publications</a></li>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Entreprises</a></li>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Partenariat</a></li>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Contactez nous</a></li>	
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-12">
							<div class="single-footer">
								<h2>Horaires d'Ouverture</h2>
								<p>Nous sommes disponibles pour vous accompagner dans votre recherche de stage et d’hébergement.</p>
								<ul class="time-sidual">
									<li class="day">Lundi - Vendredi <span>8.00-20.00</span></li>
									<li class="day">Samedi <span>9.00-18.30</span></li>
									<li class="day">Lundi - Jeudi <span>9.00-15.00</span></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-12">
							<div class="single-footer">
								<h2>Newsletter</h2>
								<p>Abonnez-vous à notre newsletter pour recevoir toutes nos actualités directement dans votre boîte mail.</p>
								<form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
									<input name="email" placeholder="adresse email" class="common-input" onfocus="this.placeholder = ''"
										onblur="this.placeholder = 'Your email address'" required="" type="email">
									<button class="button"><i class="icofont icofont-paper-plane"></i></button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Footer Top -->
			<!-- Copyright -->
			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-12">
							<div class="copyright-content">
								<p>© Copyright 2018  |  All Rights Reserved by <a href="https://www.wpthemesgrid.com" target="_blank">wpthemesgrid.com</a> </p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Copyright -->
		</footer>
        {% endblock %}
		<!--/ End Footer Area -->
		
		<!-- jquery Min JS -->
        {% block js %}
        <script src="{{ asset('js/jquery.min.js') }}"></script>
<!-- jquery Migrate JS -->
<script src="{{ asset('js/jquery-migrate-3.0.0.js') }}"></script>
<!-- jquery Ui JS -->
<script src="{{ asset('js/jquery-ui.min.js') }}"></script>
<!-- Easing JS -->
<script src="{{ asset('js/easing.js') }}"></script>
<!-- Color JS -->
<script src="{{ asset('js/colors.js') }}"></script>
<!-- Popper JS -->
<script src="{{ asset('js/popper.min.js') }}"></script>
<!-- Bootstrap Datepicker JS -->
<script src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
<!-- Jquery Nav JS -->
<script src="{{ asset('js/jquery.nav.js') }}"></script>
<!-- Slicknav JS -->
<script src="{{ asset('js/slicknav.min.js') }}"></script>
<!-- ScrollUp JS -->
<script src="{{ asset('js/jquery.scrollUp.min.js') }}"></script>
<!-- Niceselect JS -->
<script src="{{ asset('js/niceselect.js') }}"></script>
<!-- Tilt Jquery JS -->
<script src="{{ asset('js/tilt.jquery.min.js') }}"></script>
<!-- Owl Carousel JS -->
<script src="{{ asset('js/owl-carousel.js') }}"></script>
<!-- counterup JS -->
<script src="{{ asset('js/jquery.counterup.min.js') }}"></script>
<!-- Steller JS -->
<script src="{{ asset('js/steller.js') }}"></script>
<!-- Wow JS -->
<script src="{{ asset('js/wow.min.js') }}"></script>
<!-- Magnific Popup JS -->
<script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
<!-- Counter Up CDN JS (Lien externe, pas besoin de asset) -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
<!-- Bootstrap JS -->
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<!-- Main JS -->
<script src="{{ asset('js/main.js') }}"></script>

        {% endblock %}
    </body>
</html>