{% extends 'base1.html.twig' %}

{% block title %}Interview index{% endblock %}
{% block css %}
  {{ parent() }}
 
  
{% endblock %}

{% block sideBar %}
  {{ parent() }}
{% endblock %}

{% block headside %}
  {{ parent() }}
{% endblock %}
{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="../dashboard/index.html">Interviews</a></li>
    <li class="breadcrumb-item active">New</li>
{% endblock %}
{% block body %}

    <h1>Interview index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titreoffre</th>
                <th>Dateinterview</th>
                <th>Typeinterview</th>
                <th>Lienmeet</th>
                <th>Localisation</th>
                <th>Timeinterview</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for interview in interviews %}
            <tr>
                <td>{{ interview.titreoffre }}</td>
                <td>{{ interview.dateinterview ? interview.dateinterview|date('Y-m-d') : '' }}</td>
                <td>{{ interview.typeinterview.value }}</td>
                <td>{{ interview.lienmeet }}</td>
                <td>{{ interview.localisation }}</td>
                <td>{{ interview.timeinterview ? interview.timeinterview|date('H:i') : '' }}</td>
                <td>
                    <a href="{{ path('app_interview_show', {'idinterview': interview.idinterview}) }}" class="btn btn-info">show</a>
                    <a href="{{ path('app_interview_edit', {'idinterview': interview.idinterview}) }}" class="btn btn-warning">edit</a>
                       <a href="{{ path('app_testtechnique_by_interview', {'idinterview': interview.idinterview}) }}" class="btn btn-primary">
    Voir les Tests Techniques
</a>

    <a href="{{ path('app_affectationinterview_new', {'idinterview': interview.idinterview}) }}" class="btn btn-success">Affecter</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_interview_new') }}" class="btn btn-success">Create new</a>
{% endblock %}
{% block javascript %}
  {{ parent() }}

{% endblock %}