{% extends 'base1.html.twig' %}

{% block title %}New Interview{% endblock %}

{% block css %}
  {{ parent() }}
 
  
{% endblock %}

{% block sideBar %}
  {{ parent() }}
{% endblock %}

{% block headside %}
  {{ parent() }}
{% endblock %}
{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="../dashboard/index.html">Interviews</a></li>
    <li class="breadcrumb-item active">New</li>
{% endblock %}
{% block body %}
  <!-- [ Main Content ] start -->
  <div class="pc-container">
    <div class="pc-content">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h5>Create new Interview</h5>
            </div>
            <div class="card-body">
              {{ include('interview/_form.html.twig') }}

              <a href="{{ path('app_interview_index') }}" class="btn btn-light mt-3">
                <i class="ti ti-arrow-left"></i> Back to list
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- [ Main Content ] end -->
{% endblock %}

{% block javascript %}
  {{ parent() }}

{% endblock %}