{% extends 'baseadmin.html.twig' %}

{% block title %}Hebergement index{% endblock %}

{% block body %}
    <h1>Hebergement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idhebergement</th>
                <th>Nomhebergement</th>
                <th>Adressehebergement</th>
                <th>Typehebergement</th>
                <th>Descriptionhebergement</th>
                <th>Nbrnuitehebergement</th>
                <th>Disponibilitehebergement</th>
                <th>Localisationhebergement</th>
                <th>Prixhebergement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hebergement in hebergements %}
            <tr>
                <td>{{ hebergement.idhebergement }}</td>
                <td>{{ hebergement.nomhebergement }}</td>
                <td>{{ hebergement.adressehebergement }}</td>
                <td>{{ hebergement.typehebergement }}</td>
                <td>{{ hebergement.descriptionhebergement }}</td>
                <td>{{ hebergement.nbrnuitehebergement }}</td>
                <td>{{ hebergement.disponibilitehebergement ? 'Yes' : 'No' }}</td>
                <td>{{ hebergement.localisationhebergement }}</td>
                <td>{{ hebergement.prixhebergement }}</td>
                <td>
                    <a href="{{ path('app_hebergement_show', {'idhebergement': hebergement.idhebergement}) }}">show</a>
                    <a href="{{ path('app_hebergement_edit', {'idhebergement': hebergement.idhebergement}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_hebergement_new') }}">Create new</a>
{% endblock %}
