<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <!-- Meta Tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Site keywords here">
		<meta name="description" content="">
		<meta name='copyright' content=''>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Title -->
        <title>Mediplus - Free Medical and Doctor Directory HTML Template.</title>
		
		<!-- Favicon -->
        <link rel="icon" href="img/favicon.png">
		
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
        {% block css %}
	<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
<!-- Nice Select CSS -->
<link rel="stylesheet" href="{{ asset('css/nice-select.css') }}">
<!-- Font Awesome CSS -->
<link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
<!-- icofont CSS -->
<link rel="stylesheet" href="{{ asset('css/icofont.css') }}">
<!-- Slicknav -->
<link rel="stylesheet" href="{{ asset('css/slicknav.min.css') }}">
<!-- Owl Carousel CSS -->
<link rel="stylesheet" href="{{ asset('css/owl-carousel.css') }}">
<!-- Datepicker CSS -->
<link rel="stylesheet" href="{{ asset('css/datepicker.css') }}">
<!-- Animate CSS -->
<link rel="stylesheet" href="{{ asset('css/animate.min.css') }}">
<!-- Magnific Popup CSS -->
<link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">
<!-- Medipro CSS -->
<link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
<link rel="stylesheet" href="{{ asset('style.css') }}">
<link rel="stylesheet" href="{{ asset('css/responsive.css') }}">

		{% endblock %}
    </head>
    <body>
	
		<!-- Preloader -->
        <div class="preloader">
            <div class="loader">
                <div class="loader-outter"></div>
                <div class="loader-inner"></div>

                <div class="indicator"> 
                    <svg width="16px" height="12px">
                        <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                        <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                    </svg>
                </div>
            </div>
        </div>
        <!-- End Preloader -->
	
		<!-- Header Area -->
		<header class="header" >
			<!-- Topbar -->
            {% block appBar %}
			<div class="topbar">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-5 col-12">
							<!-- Contact -->
							<ul class="top-link">
								<li><a href="#">About</a></li>
								<li><a href="#">Doctors</a></li>
								<li><a href="#">Contact</a></li>
								<li><a href="#">FAQ</a></li>
							</ul>
							<!-- End Contact -->
						</div>
						<div class="col-lg-6 col-md-7 col-12">
							<!-- Top Contact -->
							<ul class="top-contact">
								<li><i class="fa fa-phone"></i>+880 1234 56789</li>
								<li><i class="fa fa-envelope"></i><a href="mailto:support@yourmail.com">support@yourmail.com</a></li>
							</ul>
							<!-- End Top Contact -->
						</div>
					</div>
				</div>
			</div>
            {% endblock %}
			<!-- End Topbar -->
			<!-- Header Inner -->
            {% block navBar %}
			<div class="header-inner">
				<div class="container">
					<div class="inner">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-12">
								<!-- Start Logo -->
								<div class="logo">
									<a href="index.html"><img src="img/logoIn.png" alt="#"></a>
								</div>
								<!-- End Logo -->
								<!-- Mobile Nav -->
								<div class="mobile-nav"></div>
								<!-- End Mobile Nav -->
							</div>
							<div class="col-lg-7 col-md-9 col-12">
								<!-- Main Menu -->
								<div class="main-menu">
									<nav class="navigation">
										<ul class="nav menu">
											<li class="active"><a href="#">Home</a>
											
											<li><a href="#">Interview </a></li>
											<li><a href="#">Partenariat </a></li>
											<li><a href="#">Publication</a>
											<li><a href="{{ path('front_projet_index') }}">Projet</a></li>
											<li><a href="{{ path('front_offre_index') }}">Offre</a></li>
											<li><a href="#">Entreprise</a></li>
							                <li><a href="#">Partenariat</a></li>
							
											<li><a href="contact.html">Contact Us</a></li>
										</ul>
									</nav>
								</div>
								<!--/ End Main Menu -->
							</div>
							
						</div>
					</div>
				</div>
			</div>
            {% endblock %}
			<!--/ End Header Inner -->
		</header>
		<!-- End Header Area -->
		{% block body %}
		<!-- Slider Area -->
		<section class="slider">
			<div class="hero-slider">
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image:url('img/entreprise1.jpeg')">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1>Nous offrons des <span>services</span> pour faciliter la recherche de stages et d’hébergements en toute <span>confiance !</span></h1>
									 <p>Notre plateforme permet aux candidats de trouver facilement un stage et un hébergement adapté à leurs besoins.</p>
									<div class="button">
										<a href="#" class="btn">Get Appointment</a>
										<a href="#" class="btn primary">Learn More</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image:url('img/entreprise2.jpg')">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1>Nous offrons des <span>services</span> pour faciliter la recherche de stages et d’hébergements en toute <span>confiance !</span></h1> 
									<p>Notre plateforme permet aux candidats de trouver facilement un stage et un hébergement adapté à leurs besoins.</p>
									<div class="button">
										<a href="#" class="btn">Get Appointment</a>
										<a href="#" class="btn primary">About Us</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Start End Slider -->
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image:url('img/entreprise3.jpg')">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1>Nous offrons des <span>services</span> pour faciliter la recherche de stages et d’hébergements en toute <span>confiance !</span></h1> 
									<p>Notre plateforme permet aux candidats de trouver facilement un stage et un hébergement adapté à leurs besoins.</p>
									<div class="button">
										<a href="#" class="btn">Get Appointment</a>
										<a href="#" class="btn primary">Conatct Now</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
			</div>
		</section>
		<!--/ End Slider Area -->
		
		<!-- Start Schedule Area -->
		<section class="schedule">
			<div class="container">
				<div class="schedule-inner">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-12 ">
							<!-- single-schedule -->
							<div class="single-schedule first">
								<div class="inner">
									<div class="icon">
										<i class="fa fa-ambulance"></i>
									</div>
									<div class="single-content">
										<span>Lorem Amet</span>
										<h4>Emergency Cases</h4>
										<p>Lorem ipsum sit amet consectetur adipiscing elit. Vivamus et erat in lacus convallis sodales.</p>
										<a href="#">LEARN MORE<i class="fa fa-long-arrow-right"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12">
							<!-- single-schedule -->
							<div class="single-schedule middle">
								<div class="inner">
									<div class="icon">
										<i class="icofont-prescription"></i>
									</div>
									<div class="single-content">
										<span>Fusce Porttitor</span>
										<h4>Doctors Timetable</h4>
										<p>Lorem ipsum sit amet consectetur adipiscing elit. Vivamus et erat in lacus convallis sodales.</p>
										<a href="#">LEARN MORE<i class="fa fa-long-arrow-right"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-12 col-12">
							<!-- single-schedule -->
							<div class="single-schedule last">
								<div class="inner">
									<div class="icon">
										<i class="icofont-ui-clock"></i>
									</div>
									<div class="single-content">
										<span>Donec luctus</span>
										<h4>Opening Hours</h4>
										<ul class="time-sidual">
											<li class="day">Monday - Fridayp <span>8.00-20.00</span></li>
											<li class="day">Saturday <span>9.00-18.30</span></li>
											<li class="day">Monday - Thusday <span>9.00-15.00</span></li>
										</ul>
										<a href="#">LEARN MORE<i class="fa fa-long-arrow-right"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/End Start schedule Area -->

		<!-- Start Feautes -->
		<section class="Feautes section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>Nous sommes toujours prêts à vous aider dans votre recherche de stage et d’hébergement</h2>
							<img src="img/section-img.png" alt="#">
							<p>Notre mission est de vous accompagner à chaque étape pour trouver l'opportunité qui vous correspond.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-12">
						<!-- Start Single features -->
						<div class="single-features">
							<div class="signle-icon">
								<i class="icofont icofont-briefcase"></i>
							</div>
							<h3>Publication des Offres</h3>
							<p>Les entreprises peuvent publier facilement leurs offres de stage pour attirer les meilleurs talents.</p>
						</div>
						<!-- End Single features -->
					</div>
					<div class="col-lg-4 col-12">
						<!-- Start Single features -->
						<div class="single-features">
							<div class="signle-icon">
								<i class="icofont icofont-building-alt"></i>
							</div>
							<h3>Gestion des Entreprises</h3>
							<p>Accédez à un espace dédié pour gérer les informations et les offres de votre entreprise.</p>
						</div>
						<!-- End Single features -->
					</div>
					<div class="col-lg-4 col-12">
						<!-- Start Single features -->
						<div class="single-features last">
							<div class="signle-icon">
								<i class="icofont icofont-users-alt-5"></i>
							</div>
							<h3>Planification des Entretiens</h3>
        <p>Les recruteurs peuvent organiser des entretiens et suivre les candidatures en toute simplicité.</p>
						</div>
						<!-- End Single features -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End Feautes -->
		
		<!-- Start Fun-facts -->
		<div id="fun-facts" class="fun-facts section overlay">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Fun -->
						<div class="single-fun">
							<i class="icofont icofont-briefcase"></i>
							<div class="content">
								<span class="counter">3468</span>
								<p>Entreprise</p>
							</div>
						</div>
						<!-- End Single Fun -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Fun -->
						<div class="single-fun">
							<i class="icofont icofont-user-alt-3"></i>
							<div class="content">
								<span class="counter">557</span>
								<p>Candidat</p>
							</div>
						</div>
						<!-- End Single Fun -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Fun -->
						<div class="single-fun">
							<i class="icofont icofont-paper"></i>
							<div class="content">
								<span class="counter">4379</span>
								<p>Publication</p>
							</div>
						</div>
						<!-- End Single Fun -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Fun -->
						<div class="single-fun">
							<i class="icofont icofont-tasks-alt"></i>
							<div class="content">
								<span class="counter">32</span>
								<p>Projet</p>
							</div>
						</div>
						<!-- End Single Fun -->
					</div>
				</div>
			</div>
		</div>
		<!--/ End Fun-facts -->
		
		
		
		<!-- Start Call to action -->
		<section class="call-action overlay" data-stellar-background-ratio="0.5">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-12">
						<div class="content">
							<h2>Avez-vous besoin d’une aide urgente pour votre stage ou hébergement ? Appelez-nous au @ 1234 56789</h2>
							<p>Nous sommes là pour vous accompagner et vous aider à trouver la meilleure opportunité.</p>
							<div class="button">
								<a href="#" class="btn">Contacter maintenant</a>
								<a href="#" class="btn second">encore plus<i class="fa fa-long-arrow-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Call to action -->
		
		<!-- Start portfolio -->
		<section class="portfolio section" >
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>Nous respectons des règles strictes pour assurer la qualité des stages et hébergements</h2>
							<img src="img/section-img.png" alt="#">
							<p>Nous veillons à offrir des opportunités de stage et des hébergements adaptés aux besoins des candidats.</p>						</div>
					</div>
				</div>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12 col-12">
						<div class="owl-carousel portfolio-slider">
							<div class="single-pf">
								<img src="img/pf1.jpg" alt="#">
								<a href="portfolio-details.html" class="btn">View Details</a>
							</div>
							<div class="single-pf">
								<img src="img/pf2.jpg" alt="#">
								<a href="portfolio-details.html" class="btn">View Details</a>
							</div>
							<div class="single-pf">
								<img src="img/pf3.jpg" alt="#">
								<a href="portfolio-details.html" class="btn">View Details</a>
							</div>
							<div class="single-pf">
								<img src="img/pf4.jpg" alt="#">
								<a href="portfolio-details.html" class="btn">View Details</a>
							</div>
							<div class="single-pf">
								<img src="img/pf1.jpg" alt="#">
								<a href="portfolio-details.html" class="btn">View Details</a>
							</div>
							<div class="single-pf">
								<img src="img/pf2.jpg" alt="#">
								<a href="portfolio-details.html" class="btn">View Details</a>
							</div>
							<div class="single-pf">
								<img src="img/pf3.jpg" alt="#">
								<a href="portfolio-details.html" class="btn">View Details</a>
							</div>
							<div class="single-pf">
								<img src="img/pf4.jpg" alt="#">
								<a href="portfolio-details.html" class="btn">View Details</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End portfolio -->
		
		<!-- Start service -->
		<section class="services section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>We Offer Different Services To Improve Your Health</h2>
							<img src="img/section-img.png" alt="#">
							<p>Lorem ipsum dolor sit amet consectetur adipiscing elit praesent aliquet. pretiumts</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
					<div class="single-service">
        <i class="icofont icofont-upload"></i>
        <h4><a href="service-details.html">Publication des Candidatures</a></h4>
        <p>Les candidats peuvent soumettre leur candidature et suivre leur progression en toute simplicité.</p>	
    </div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
        <i class="icofont icofont-folder-open"></i>
        <h4><a href="service-details.html">Gestion des Projets</a></h4>
        <p>Les entreprises peuvent gérer leurs projets et suivre les missions confiées aux stagiaires.</p>	
    </div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
					<div class="single-service">
        <i class="icofont icofont-tasks"></i>
        <h4><a href="service-details.html">Tests Techniques</a></h4>
        <p>Les recruteurs peuvent organiser des tests techniques pour évaluer les compétences des candidats.</p>	
    </div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
        <i class="icofont icofont-building"></i>
        <h4><a href="service-details.html">Gestion des Départements</a></h4>
        <p>Les entreprises peuvent organiser leurs offres et stages par département.</p>	
    </div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
        <i class="icofont icofont-exclamation-circle"></i>
        <h4><a href="service-details.html">Gestion des Réclamations</a></h4>
        <p>Les candidats et entreprises peuvent soumettre des réclamations et suivre leur traitement.</p>	
    </div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
        <i class="icofont icofont-home"></i>
        <h4><a href="service-details.html">Service d’Hébergement</a></h4>
        <p>Nous aidons les candidats à trouver un hébergement adapté pendant leur stage.</p>	
    </div>
						<!-- End Single Service -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End service -->
		
		
		<!-- Start clients -->
		<div class="clients overlay">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-12">
						<div class="owl-carousel clients-slider">
							<div class="single-clients">
								<img src="img/client1.png" alt="#">
							</div>
							<div class="single-clients">
								<img src="img/client2.png" alt="#">
							</div>
							<div class="single-clients">
								<img src="img/client3.png" alt="#">
							</div>
							<div class="single-clients">
								<img src="img/client4.png" alt="#">
							</div>
							<div class="single-clients">
								<img src="img/client5.png" alt="#">
							</div>
							<div class="single-clients">
								<img src="img/client1.png" alt="#">
							</div>
							<div class="single-clients">
								<img src="img/client2.png" alt="#">
							</div>
							<div class="single-clients">
								<img src="img/client3.png" alt="#">
							</div>
							<div class="single-clients">
								<img src="img/client4.png" alt="#">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/Ens clients -->
		{% endblock %}
		
		
		<!-- Start Newsletter Area -->
		{% block subscribe %}
		<section class="newsletter section">
			<div class="container">
				<div class="row ">
					<div class="col-lg-6  col-12">
						<!-- Start Newsletter Form -->
						<div class="subscribe-text ">
							<h6>Abonnez-vous à notre newsletter</h6>
							<p class=""> pour recevoir toutes nos actualités directement dans votre boîte mail.</p>
						</div>
						<!-- End Newsletter Form -->
					</div>
					<div class="col-lg-6  col-12">
						<!-- Start Newsletter Form -->
						<div class="subscribe-form ">
							<form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
								<input name="EMAIL" placeholder="Your email address" class="common-input" onfocus="this.placeholder = ''"
									onblur="this.placeholder = 'Your email address'" required="" type="email">
								<button class="btn">Subscribe</button>
							</form>
						</div>
						<!-- End Newsletter Form -->
					</div>
				</div>
			</div>
		</section>
		{% endblock %}
		<!-- /End Newsletter Area -->
		
		<!-- Footer Area -->
        {% block footer %}
		<footer id="footer" class="footer ">
			<!-- Footer Top -->
			<div class="footer-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-6 col-12">
							<div class="single-footer">
								<h2>À Propos de Nous</h2>
								<p>Notre site web facilite la recherche de stages pour les candidats et leur permet de trouver un hébergement adapté à leurs besoins.</p>
								<!-- Social -->
								<ul class="social">
									<li><a href="#"><i class="icofont-facebook"></i></a></li>
									<li><a href="#"><i class="icofont-google-plus"></i></a></li>
									<li><a href="#"><i class="icofont-twitter"></i></a></li>
									<li><a href="#"><i class="icofont-vimeo"></i></a></li>
									<li><a href="#"><i class="icofont-pinterest"></i></a></li>
								</ul>
								<!-- End Social -->
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-12">
							<div class="single-footer f-link">
								<h2>Liens Rapides</h2>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-12">
										<ul>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Accueil</a></li>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Entretien</a></li>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Reclamation</a></li>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>À Propos</a></li>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Autres liens</a></li>
										</ul>
									</div>
									<div class="col-lg-6 col-md-6 col-12">
										<ul>
											<li>
												<a href="{{ path('front_projet_index') }}">
													<i class="fa fa-caret-right" aria-hidden="true"></i> Projet
												</a>
											</li>
											<li>
												<a href="{{ path('front_offre_index') }}">
													<i class="fa fa-caret-right" aria-hidden="true"></i> Offre
												</a>
											</li>		
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Publications</a></li>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Entreprises</a></li>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Partenariat</a></li>
											<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Contactez nous</a></li>	
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-12">
							<div class="single-footer">
								<h2>Horaires d'Ouverture</h2>
								<p>Nous sommes disponibles pour vous accompagner dans votre recherche de stage et d’hébergement.</p>
								<ul class="time-sidual">
									<li class="day">Lundi - Vendredi <span>8.00-20.00</span></li>
									<li class="day">Samedi <span>9.00-18.30</span></li>
									<li class="day">Lundi - Jeudi <span>9.00-15.00</span></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-12">
							<div class="single-footer">
								<h2>Newsletter</h2>
								<p>Abonnez-vous à notre newsletter pour recevoir toutes nos actualités directement dans votre boîte mail.</p>
								<form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
									<input name="email" placeholder="adresse email" class="common-input" onfocus="this.placeholder = ''"
										onblur="this.placeholder = 'Your email address'" required="" type="email">
									<button class="button"><i class="icofont icofont-paper-plane"></i></button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Footer Top -->
			<!-- Copyright -->
			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-12">
							<div class="copyright-content">
								<p>© Copyright 2018  |  All Rights Reserved by <a href="https://www.wpthemesgrid.com" target="_blank">wpthemesgrid.com</a> </p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Copyright -->
		</footer>
        {% endblock %}
		<!--/ End Footer Area -->
		
		<!-- jquery Min JS -->
        {% block js %}
        <script src="{{ asset('js/jquery.min.js') }}"></script>
<!-- jquery Migrate JS -->
<script src="{{ asset('js/jquery-migrate-3.0.0.js') }}"></script>
<!-- jquery Ui JS -->
<script src="{{ asset('js/jquery-ui.min.js') }}"></script>
<!-- Easing JS -->
<script src="{{ asset('js/easing.js') }}"></script>
<!-- Color JS -->
<script src="{{ asset('js/colors.js') }}"></script>
<!-- Popper JS -->
<script src="{{ asset('js/popper.min.js') }}"></script>
<!-- Bootstrap Datepicker JS -->
<script src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
<!-- Jquery Nav JS -->
<script src="{{ asset('js/jquery.nav.js') }}"></script>
<!-- Slicknav JS -->
<script src="{{ asset('js/slicknav.min.js') }}"></script>
<!-- ScrollUp JS -->
<script src="{{ asset('js/jquery.scrollUp.min.js') }}"></script>
<!-- Niceselect JS -->
<script src="{{ asset('js/niceselect.js') }}"></script>
<!-- Tilt Jquery JS -->
<script src="{{ asset('js/tilt.jquery.min.js') }}"></script>
<!-- Owl Carousel JS -->
<script src="{{ asset('js/owl-carousel.js') }}"></script>
<!-- counterup JS -->
<script src="{{ asset('js/jquery.counterup.min.js') }}"></script>
<!-- Steller JS -->
<script src="{{ asset('js/steller.js') }}"></script>
<!-- Wow JS -->
<script src="{{ asset('js/wow.min.js') }}"></script>
<!-- Magnific Popup JS -->
<script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
<!-- Counter Up CDN JS (Lien externe, pas besoin de asset) -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
<!-- Bootstrap JS -->
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<!-- Main JS -->
<script src="{{ asset('js/main.js') }}"></script>

        {% endblock %}
    </body>
</html>
